img {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    padding: 30px;
}

.error,
.red {
    color: red;
}

.form-group label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: 48px;
    border-top: 1px solid rgb(255, 255, 255);
    width: 100%;
    display: block;
    padding: 48px;
    background-color: rgb(247, 247, 247);
}

footer a {
    color: rgb(108, 117, 125);
}

footer a:hover,
footer a:focus {
    color: #007bff;
}
